$color-white: #ffffff;
$color-black: #000000;
$color-mauve: #e5b8ec;
$color-dark-orchid: #9c3fc8;
$color-army-green: #3e4c1f;
$main-page-background-color: #8598a2;

$header-height: 56px;

$artical-title-font-size: 3rem;
$artical-description-font-size: 1.5rem;