<div class="page">
    <select class="form-select" aria-label="Список фракталов" [ngModel]="fractalType" (ngModelChange)="selectedFractalType($event)">
        <option [value]="fractalTypeEnum.juliaSet">Множество Джулия</option>
        <option [value]="fractalTypeEnum.mandelbrotSet" selected>Множество Мандельброта</option>
    </select>
    <div class="contant-wrapper">
        <div class="row left">
            <canvas #canvas (click)="openModal()"></canvas>
        </div>
        <div class="row right">
            {{ "FRACTAL_DESCRIPTION." + fractalType | translate }}
        </div>
    </div>
</div>