<div class="page">
    <div class="main-row">
        <img class="main-image" src="../../../../assets/images/main-page/main.png" alt="Discover the Fractality image">
        <div class="title-wrapper p-5">
            <h1 class="title display-1">
                Discover
            </h1>&nbsp;
            <h1 class="title display-1">
                the
            </h1>&nbsp;
            <h1 class="title display-1">
                Fractality
            </h1>
        </div>
    </div>
    <div class="artical-wrapper">
        <div class="image-wrapper">
            <select [ngModel]="screenResolutionName" (ngModelChange)="selectScreenSolutionType($event)" class="form-control" name="screen-resolution-select" id="screen-resolution-select">
                <option [ngValue]="screenResolutionNameValue.HD">hd</option>
                <option [ngValue]="screenResolutionNameValue.FullHD">FullHD</option>
                <option [ngValue]="screenResolutionNameValue.TwoK">TwoK</option>
                <option [ngValue]="screenResolutionNameValue.FourK">FourK</option>
             </select>
            <canvas #mandelbrotSet></canvas>
            <button type="button" class="btn btn-info" (click)="clear()">Clear</button>
        </div>
        <div class="article">
            <h2 class="title">
                Множество Мандельброта
            </h2>
            <span class="description">
                Множество Мандельброта - это название для геометрической фигуры, которая является результатом математического процесса, открытого Бенуа Мандельбротом в 1970-х годах. 
                Множество Мандельброта является примером фрактала и представляет собой геометрический объект, который характеризуется самоподобием, то есть он содержит в себе уменьшенные копии самого себя.
                Чтобы понять, что такое множество Мандельброта, нужно сначала разобраться в процессе, лежащем в основе его создания. Этот процесс включает в себя итерацию двух математических функций:
                z -> z^2 + c
                где z - комплексное число (z = x + iy), а c - любое другое комплексное число. Итерация начинается с заданного значения z, и на каждой итерации к z применяется функция z^2 + c.
            </span>
        </div>
    </div>
    <div class="artical-wrapper julia-set">
        <div class="image-wrapper">
            <div class="left-column">
                <div class="up-block">
                    <span></span>
                </div>
                <div class="down-block">

                </div>
            </div>
            <img src="../../../../assets/images/julia-set-page/main.png" alt="" class="simple-image">
        </div>
        <div class="article">
            <h2 class="title">
                Множество Джулия
            </h2>
            <span class="description">
                Множество Джулии - это ещё один тип фрактала, который был открыт в 1918 году математиком Гарольдом Фрайлендером Джулия. Это множество названо в честь своего создателя.
                Множество Джулии, как и множество Мандельброта, является результатом итерации функции:
                f(z) = z^2 + c,
                где z — комплексное число, а c — некоторое комплексное число.
                Однако, в отличие от множества Мандельброта, множество Джулии состоит из точек, которые “расплываются” при итерациях. То есть, если мы начнём итерировать функцию f(z) с некоторым начальным значением z0, то после нескольких итераций точка z будет стремиться к бесконечности.
                Множество Джулии имеет очень интересный и сложный рисунок, который зависит от значения параметра c. Например, если c = 0, то множество Джулии представляет собой отрезок прямой между точками -1 и +1. Если же c близко к 0, но не равно 0, то мы получаем множество точек, которые образуют красивый и сложный узор.
            </span>
        </div>
    </div>
</div>