@import "../../../../assets/shared/variables";

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .contant-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .row {
            padding: 10px;
            margin: 0;
            border: 1px solid black;

            &.left {
                border-right: 0;
            }

            canvas {
                object-fit: contain;
                width: 100%;
                height: 100%;
                object-position: 50% 50%;
            }
        }
    }

    .full-screen-canvas-wrapper {
        background-color: red;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1000;
    }
}