<div class="page">
    <div class="main-row">
        <img class="main-image" src="../../../../assets/images/main-page/main.png" alt="Discover the Fractality image">
        <div class="title-wrapper p-5">
            <h1 class="title display-1">
                Discover
            </h1>&nbsp;
            <h1 class="title display-1">
                the
            </h1>&nbsp;
            <h1 class="title display-1">
                Fractality
            </h1>
        </div>
    </div>
    <div class="mandelbrot-set-row">
        Блок о Множестве Мандельброта
    </div>
    <div class="julia-set-row">
        Блок о Множестве Джулия
    </div>
    <div class="douady-rabbit-row">
        Блок о Кролике Дуади
    </div>
</div>