@import "../../../../assets/shared/variables";
@import "../../../../assets/shared/page";

.page {
    grid-template-rows: 100vh 100vh 100vh 100vh;
    background-color: $main-page-background-color;

    .main-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}