<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/main']">Fractality</a>  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item active">
                <a class="nav-link" aria-current="page" [routerLink]="['/main']">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mandelbrot-set']">Множество Мандельброта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/julia-set']">Множество Жюлиа</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/douady-rabbit']">Кролик Дуади</a>
            </li>
        </ul>
      </div>
    </nav>
  </header>